#### Lab 2 — Data Collection & Pre-Processing
**Student:** Albright Maduka  

**Course:** PROG8245

#### Lab Assignment
##### You will execute the 12-step Data Engineering road-map practiced in class, this time end-to-end on a realistic e-commerce dataset.
##### Your deliverable is a well-commented Jupyter Notebook that loads raw data, cleans and enriches it, and finishes with a concise analytical insight. All code, data, and documentation must live in a GitHub repository you control.

### 1. Hello, Data!

Aim: Load raw CSV and display first 3 rows

Reason: It ensure that my dataset is read and loaded correctly

In [26]:
import pandas as pd
# Read the CSV file into a DataFrame
data = pd.read_csv(r"data\1000 Sales Records.csv")

print(data.head(3)) # Display the first few rows of the DataFrame

                         Region Country   Item Type Sales Channel  \
0  Middle East and North Africa   Libya   Cosmetics       Offline
1                 North America  Canada  Vegetables        Online
2  Middle East and North Africa   Libya   Baby Food       Offline

  Order Priority  Order Date   Order ID   Ship Date  Units Sold  Unit Price  \
0              M  10/18/2014  686800706  10/31/2014        8446      437.20
1              M   11/7/2011  185941302   12/8/2011        3018      154.06
2              C  10/31/2016  246222341   12/9/2016        1517      255.28

   Unit Cost  Total Revenue  Total Cost  Total Profit
0     263.33     3692591.20  2224085.18    1468506.02
1      90.93      464953.08   274426.74     190526.34
2     159.42      387259.76   241840.14     145419.62

#### 2. Pick the Right Container
Aim: Dict vs namedtuple vs set (1–2 sentences).

Reason: Dict is used for deciding how to store data

In [27]:
# Dict is for mapping keys to values, allowing for flexible and dynamic data storage.
# Namedtuple is for creating lightweight, immutable objects with named fields, providing better structure and readability
# Set is for storing unique products.

#### 3. Implement Functions and Data Structure

In [28]:
from collections import namedtuple

Transaction = namedtuple('Transaction', ['date', 'customer_id', 'product', 'price', 'quantity', 'coupon_code', 'shipping_city'])

def clean(row):
    return Transaction(
        date=row['Order Date'],
        customer_id=row['customer_id'],
        product=row['Item Type'],
        price=row['Unit Price'],
        quantity=row['Units Sold'],
        coupon_code=row['coupon_code'],
        shipping_city=row['shipping_city']
    )

In [29]:
print("Data Info:")
print(data.info()) # This is used to display summary of the DataFrame  

print("Data Description:")
print(data.describe(include='all')) # Generate or describe statistics that summarize the central tendency, dispersion and shape of a dataset's distribution, excluding NaN values.

Data Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 14 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Region          1000 non-null   object
 1   Country         1000 non-null   object
 2   Item Type       1000 non-null   object
 3   Sales Channel   1000 non-null   object
 4   Order Priority  1000 non-null   object
 5   Order Date      1000 non-null   object
 6   Order ID        1000 non-null   int64
 7   Ship Date       1000 non-null   object
 8   Units Sold      1000 non-null   int64
 9   Unit Price      1000 non-null   float64
 10  Unit Cost       1000 non-null   float64
 11  Total Revenue   1000 non-null   float64
 12  Total Cost      1000 non-null   float64
 13  Total Profit    1000 non-null   float64
dtypes: float64(5), int64(2), object(7)
memory usage: 109.5+ KB
None
Data Description:
        Region Country  Item Type Sales Channel Order Priority Order Date  \
count     1000    1000       1000          1000           1000       1000
unique       7     185         12             2              4        841
top     Europe    Cuba  Beverages       Offline              L  7/19/2010
freq       267      11        101           520            268          3
mean       NaN     NaN        NaN           NaN            NaN        NaN
std        NaN     NaN        NaN           NaN            NaN        NaN
min        NaN     NaN        NaN           NaN            NaN        NaN
25%        NaN     NaN        NaN           NaN            NaN        NaN
50%        NaN     NaN        NaN           NaN            NaN        NaN
75%        NaN     NaN        NaN           NaN            NaN        NaN
max        NaN     NaN        NaN           NaN            NaN        NaN

            Order ID Ship Date   Units Sold  Unit Price    Unit Cost  \
count   1.000000e+03      1000  1000.000000  1000.00000  1000.000000
unique           NaN       835          NaN         NaN          NaN
top              NaN  6/8/2011          NaN         NaN          NaN
freq             NaN         3          NaN         NaN          NaN
mean    5.496813e+08       NaN  5053.988000   262.10684   184.965110
std     2.571334e+08       NaN  2901.375317   216.02106   175.289311
min     1.029280e+08       NaN    13.000000     9.33000     6.920000
25%     3.280740e+08       NaN  2420.250000    81.73000    56.670000
50%     5.566097e+08       NaN  5184.000000   154.06000    97.440000
75%     7.696945e+08       NaN  7536.750000   421.89000   263.330000
max     9.955298e+08       NaN  9998.000000   668.27000   524.960000

        Total Revenue    Total Cost  Total Profit
count    1.000000e+03  1.000000e+03  1.000000e+03
unique            NaN           NaN           NaN
top               NaN           NaN           NaN
freq              NaN           NaN           NaN
mean     1.327322e+06  9.361192e+05  3.912026e+05
std      1.486515e+06  1.162571e+06  3.836402e+05
min      2.043250e+03  1.416750e+03  5.326100e+02
25%      2.811919e+05  1.649319e+05  9.837612e+04
50%      7.549392e+05  4.647261e+05  2.772260e+05
75%      1.733503e+06  1.141750e+06  5.484568e+05
max      6.617210e+06  5.204978e+06  1.726181e+06

#### 3 Cleaning
It is the process of cleaning missing values, correcting typos and also ensuring numerical columns are correctly inputed.

In [19]:
# check for missing values in the dataset 0 means no missing values
print("Missing Values:")
print(data.isnull().sum())

# isnull() function is used to detect missing values in a DataFrame. It returns a DataFrame of the same shape as the original, with boolean values indicating whether each element is missing (True) or not (False). 
# The sum() function is then applied to count the number of missing values in each column.

Missing Values:
Region            0
Country           0
Item Type         0
Sales Channel     0
Order Priority    0
Order Date        0
Order ID          0
Ship Date         0
Units Sold        0
Unit Price        0
Unit Cost         0
Total Revenue     0
Total Cost        0
Total Profit      0
dtype: int64

In [35]:
# Remove duplicates if any
data = data.drop_duplicates()
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 14 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Region          1000 non-null   object
 1   Country         1000 non-null   object
 2   Item Type       1000 non-null   object
 3   Sales Channel   1000 non-null   object
 4   Order Priority  1000 non-null   object
 5   Order Date      1000 non-null   object
 6   Order ID        1000 non-null   int64
 7   Ship Date       1000 non-null   object
 8   Units Sold      1000 non-null   int64
 9   Unit Price      1000 non-null   float64
 10  Unit Cost       1000 non-null   float64
 11  Total Revenue   1000 non-null   float64
 12  Total Cost      1000 non-null   float64
 13  Total Profit    1000 non-null   float64
dtypes: float64(5), int64(2), object(7)
memory usage: 109.5+ KB

In [34]:
def clean_data(df): # Function to clean the dataset
    df = df.drop_duplicates() # Remove duplicates if any
    df = df.dropna(subset=['Order ID', 'Order Date', 'Ship Date', 'Sales']) # Drop rows with missing critical values
    df['Item Type'] = df['Item Type'].str.strip()
    df['Country'] = df['Country'].str.strip()
    df['Order Date'] = pd.to_datetime(df['Order Date']) # Convert to datetime
    df['Ship Date'] = pd.to_datetime(df['Ship Date'])
    if 'Coupon Code' in df.columns:
        df['Coupon Code'] = df['Coupon Code'].fillna('None') # Fill missing coupon codes with 'None'
    return df

Reason: It's the process of cleaning raw data
i. I removed duplicates
ii. I removed the rows with missing values
iii. I removed the spaces
iv. converted dates to time
v. filled the missing coupon codes with none

#### 4. Bulk Loaded
Markdown: Explain how you mapped raw data into structured objects.

In [ ]:

transactions = [clean(row) for _, row in df.iterrows()]

NameError: name 'df' is not defined

5. Quick Profiling

In [44]:
print("Min price:", df['Unit Price'].min())
print("Mean price:", df['Unit Price'].mean())
print("Max price:", df['Unit Price'].max())
print("Unique cities:", len(set(df['shipping_city'])))

NameError: name 'df' is not defined