#### Lab 2 — Data Collection and Pre-Processing Lab Assignment
Albright Maduka  

PROG8245

##### Overview
You will execute the 12-step Data Engineering road-map practiced in class, this time end-to-end on a realistic e-commerce dataset.
Your deliverable is a well-commented Jupyter Notebook that loads raw data, cleans and enriches it, and finishes with a concise analytical insight. All code, data, and documentation must live in a GitHub repository you control.

##### 1) Hello, Data! — load raw CSV and show first 3 rows

In [13]:
import pandas as pd
from pathlib import Path

SALES_PATH = Path("data/1000 Sales Records.csv")
raw = pd.read_csv(SALES_PATH)

print("Shape:", raw.shape)
raw.head(3)

Shape: (1000, 14)

,Region,Country,Item Type,Sales Channel,Order Priority,Order Date,Order ID,Ship Date,Units Sold,Unit Price,Unit Cost,Total Revenue,Total Cost,Total Profit
0,Middle East and North Africa,Libya,Cosmetics,Offline,M,10/18/2014,686800706,10/31/2014,8446,437.20,263.33,3692591.20,2224085.18,1468506.02
1,North America,Canada,Vegetables,Online,M,11/7/2011,185941302,12/8/2011,3018,154.06,90.93,464953.08,274426.74,190526.34
2,Middle East and North Africa,Libya,Baby Food,Offline,C,10/31/2016,246222341,12/9/2016,1517,255.28,159.42,387259.76,241840.14,145419.62

##### Connecting to Neon DB and saving my synthetic data

In [14]:

import pandas as pd
import psycopg2
from pathlib import Path
# Replace with your Neon connection details
conn_str = 'postgresql://neondb_owner:npg_x2uqmkNbRa7J@ep-broad-leaf-a8anq220-pooler.eastus2.azure.neon.tech/neondb?sslmode=require&channel_binding=require'

# Ensure "data" folder exists
data_dir = Path("data")
data_dir.mkdir(parents=True, exist_ok=True)

# Connect to the database
conn = psycopg2.connect(conn_str)
# Query the table and load into Pandas
df = pd.read_sql_query("SELECT * FROM customers;", conn)
# Show the DataFrame
print(df.head(3))

# Save to CSV as synthetic_customers.csv inside data/
csv_path = data_dir / "synthetic_customers.csv"
df.to_csv(csv_path, index=False)

print(f"Data saved to {csv_path}")
conn.close()

   customer_id coupon_code shipping_city
0          343    FREESHIP      San Jose
1          377   HOLIDAY15  Philadelphia
2          431   HOLIDAY15      San Jose
Data saved to data\synthetic_customers.csv

C:\Users\maduk\AppData\Local\Temp\ipykernel_10924\84740435.py:14: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query("SELECT * FROM customers;", conn)

##### Build a working table by merging Sales + Synthetic

###### Produces: date, customer_id, product, price, quantity, coupon_code, shipping_city

In [15]:
import numpy as np

SYN_PATH = Path("data/synthetic_customers.csv")
syn = pd.read_csv(SYN_PATH).rename(columns=str.strip)

# clean synthetic columns
syn["customer_id"]   = syn["customer_id"].astype(str).str.strip()
syn["coupon_code"]   = syn["coupon_code"].astype(str).str.strip().str.upper()
syn["shipping_city"] = syn["shipping_city"].astype(str).str.strip().str.title()
syn = syn.reset_index(drop=True)

# build from raw sales
transactions_df = pd.DataFrame({
    "date": pd.to_datetime(raw["Order Date"], errors="coerce").dt.strftime("%Y-%m-%d"),
    "product": raw["Item Type"].astype(str),
    "price": pd.to_numeric(raw["Unit Price"], errors="coerce"),
    "quantity": pd.to_numeric(raw["Units Sold"], errors="coerce").fillna(0).astype(int),
})

# deterministically assign synthetic rows (city/customer/coupon) to each sale
np.random.seed(42)
transactions_df["pick"] = np.arange(len(transactions_df)) % len(syn)
syn["pick"] = np.arange(len(syn))

final = transactions_df.merge(
    syn[["pick","customer_id","coupon_code","shipping_city"]],
    on="pick", how="left"
).drop(columns=["pick"])

final = final[["date","customer_id","product","price","quantity","coupon_code","shipping_city"]]
print("Merged shape:", final.shape)
final.head(3)

Merged shape: (1000, 7)

,date,customer_id,product,price,quantity,coupon_code,shipping_city
0,2014-10-18,343,Cosmetics,437.20,8446,FREESHIP,San Jose
1,2011-11-07,377,Vegetables,154.06,3018,HOLIDAY15,Philadelphia
2,2016-10-31,431,Baby Food,255.28,1517,HOLIDAY15,San Jose

### 2) Pick the Right Container
Dicts are flexible key–value records but don’t enforce a schema; namedtuples give fixed, readable field names and are lightweight; sets are only for uniqueness, not full rows.  
For transactions, I’ll represent each row as a **namedtuple** (for structure) and use **sets** for distinct counts; dicts remain handy for serialization.

##### 3) Implement Functions & Data Structure — dict, namedtuple, set

In [16]:
from collections import namedtuple

# safety check
REQUIRED = {"date","customer_id","product","price","quantity","coupon_code","shipping_city"}
missing = REQUIRED - set(final.columns)
if missing:
    raise ValueError(f"Missing required columns: {missing}")

# A) DataFrame -> list[dict]
def df_to_dicts(frame: pd.DataFrame) -> list[dict]:
    return frame.to_dict(orient="records")

# B) DataFrame -> list[namedtuple] 
Transactionnametuple = namedtuple(
    "Transactionnametuple",
    ["date","customer_id","product","price","quantity","coupon_code","shipping_city"]
)

def df_to_namedtuples(frame: pd.DataFrame) -> list[Transactionnametuple]:
    nts = []
    for _, row in frame.iterrows():
        nts.append(Transactionnametuple(
            date=str(row["date"]),
            customer_id=str(row["customer_id"]),
            product=str(row["product"]),
            price=float(row["price"]),
            quantity=int(row["quantity"]),
            coupon_code=str(row["coupon_code"]),
            shipping_city=str(row["shipping_city"]),
        ))
    return nts

# C) Set of unique cities
def setunique_cities(frame: pd.DataFrame) -> set[tuple[str]]:
    return set((c,) for c in frame["shipping_city"].astype(str))

def setunique_customer_city_pairs(frame: pd.DataFrame) -> set[tuple[str,str]]:
    return set(zip(frame["customer_id"].astype(str), frame["shipping_city"].astype(str)))

# build structures + peek
dict_rows = df_to_dicts(final)
nt_rows   = df_to_namedtuples(final)
cities    = setunique_cities(final)
cust_city = setunique_customer_city_pairs(final)

print("Dict example:", dict_rows[0])
print("namedtuple example:", nt_rows[0])
print("setUnique cities:", len(cities))
print("setUnique (customer, city) pairs:", len(cust_city))

Dict example: {'date': '2014-10-18', 'customer_id': '343', 'product': 'Cosmetics', 'price': 437.2, 'quantity': 8446, 'coupon_code': 'FREESHIP', 'shipping_city': 'San Jose'}
namedtuple example: Transactionnametuple(date='2014-10-18', customer_id='343', product='Cosmetics', price=437.2, quantity=8446, coupon_code='FREESHIP', shipping_city='San Jose')
setUnique cities: 10
setUnique (customer, city) pairs: 939

##### 4) Bulk Loaded — build lookup maps and save

In [18]:
from collections import defaultdict
import json

# quick lookup maps
by_customer = {r["customer_id"]: r for r in dict_rows}  # customer_id -> last record
by_city = defaultdict(list)
for r in dict_rows:
    by_city[r["shipping_city"]].append(r)

print("Customers mapped:", len(by_customer))
print("Cities mapped:", len(by_city))

# save bulk outputs
OUT_DIR = Path("data/bulk"); OUT_DIR.mkdir(parents=True, exist_ok=True)
pd.DataFrame(dict_rows).to_csv(OUT_DIR / "transactions_records.csv", index=False)
with open(OUT_DIR / "transactions_records.json", "w", encoding="utf-8") as f:
    json.dump(dict_rows, f, indent=2)

print("Saved:",
      OUT_DIR / "transactions_records.csv",
      OUT_DIR / "transactions_records.json", sep="\n  ")

Customers mapped: 587
Cities mapped: 10
Saved:
  data\bulk\transactions_records.csv
  data\bulk\transactions_records.json

In summary, I'm creating lookup dictionaries;

by_customer: quickly accessing to a customer’s last transaction

by_city: grouping transactions by city

Saving all transactions into both CSV and JSON files.

##### 5) Quick Profiling — min/mean/max price, unique city count (set)

In [19]:
import pandas as pd
from pathlib import Path

# Use in-memory 'final' if present; else load the merged CSV
df = final.copy() if "final" in globals() else pd.read_csv(Path("data/transactions_merged.csv"))

# Build a clean list of prices (floats) via list comprehension
prices = [float(p) for p in pd.to_numeric(df["price"], errors="coerce") if pd.notna(p)]

# Compute min/mean/max with pure Python
p_min = min(prices) if prices else float("nan")
p_mean = (sum(prices) / len(prices)) if prices else float("nan")
p_max = max(prices) if prices else float("nan")

# collect unique cities using a set comprehension
cities = {str(c).strip().title() for c in df["shipping_city"] if pd.notna(c)}
unique_city_count = len(cities)

print(f"price → min={p_min:.2f}, mean={p_mean:.2f}, max={p_max:.2f}")
print(f"unique shipping_city count = {unique_city_count}")

# peek a few cities:
print("sample cities:", sorted(list(cities))[:10])

price → min=9.33, mean=262.11, max=668.27
unique shipping_city count = 10
sample cities: ['Chicago', 'Dallas', 'Houston', 'Los Angeles', 'New York', 'Philadelphia', 'Phoenix', 'San Antonio', 'San Diego', 'San Jose']

##### 6) Spotting the Grime — inject a few deliberate errors

In [20]:
import numpy as np

dirty = final.copy()

# Inject bad coupon codes (empty, weird casing/spaces, invalid token)
bad_coupon_samples = dirty.sample(6, random_state=1).index
dirty.loc[bad_coupon_samples, "coupon_code"] = [
    "", " free ship ", "saveXX", None, "  Save10 ", "holiday-15"
]

# Inject bad/invalid prices (negative, strings, NaN)
bad_price_samples = dirty.sample(6, random_state=2).index
dirty.loc[bad_price_samples, "price"] = [-5, "N/A", None, -1.2, "", "free"]

print("Injected grime. Preview:")
dirty.loc[sorted(set(bad_coupon_samples) | set(bad_price_samples))].head(10)

Injected grime. Preview:

C:\Users\maduk\AppData\Local\Temp\ipykernel_10924\2236007981.py:13: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '[-5, 'N/A', None, -1.2, '', 'free']' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  dirty.loc[bad_price_samples, "price"] = [-5, "N/A", None, -1.2, "", "free"]

,date,customer_id,product,price,quantity,coupon_code,shipping_city
37,2011-03-06,139,Vegetables,-5,3294,SPRINGSALE,Chicago
242,2016-02-18,573,Baby Food,255.28,2279,Save10,Chicago
295,2012-01-31,184,Baby Food,-1.2,7570,SAVE10,Philadelphia
368,2015-07-12,889,Baby Food,255.28,7480,None,Philadelphia
452,2014-05-19,999,Vegetables,154.06,6915,saveXX,Los Angeles
507,2010-08-12,445,Vegetables,154.06,3475,,San Jose
658,2013-08-22,994,Meat,free,285,SPRINGSALE,San Jose
726,2010-08-23,422,Office Supplies,N/A,1352,WELCOME20,Dallas
818,2015-02-04,888,Baby Food,255.28,8906,free ship,Dallas
846,2015-06-24,465,Beverages,None,6899,WELCOME20,Houston

In [21]:
# Find the Grime — boolean masks 

import pandas as pd
p = pd.to_numeric(dirty["price"], errors="coerce")
is_bad_price  = p.isna() | (p < 0)

valid_coupon_re = r"^(FREESHIP|SAVE\d+|WELCOME\d+|HOLIDAY\d+|SPRINGSALE)$"
cc = dirty["coupon_code"].astype("string")
is_bad_coupon = cc.isna() | (cc.str.strip() == "") | (~cc.str.strip().str.upper().str.match(valid_coupon_re, na=False))

print("Bad price count:", int(is_bad_price.sum()))
print("Bad coupon count:", int(is_bad_coupon.sum()))
print("\nSample bad-price rows:")
display(dirty[is_bad_price].head(5))
print("\nSample bad-coupon rows:")
display(dirty[is_bad_coupon].head(5))

Bad price count: 6
Bad coupon count: 5

Sample bad-price rows:

,date,customer_id,product,price,quantity,coupon_code,shipping_city
37,2011-03-06,139,Vegetables,-5,3294,SPRINGSALE,Chicago
295,2012-01-31,184,Baby Food,-1.2,7570,SAVE10,Philadelphia
658,2013-08-22,994,Meat,free,285,SPRINGSALE,San Jose
726,2010-08-23,422,Office Supplies,N/A,1352,WELCOME20,Dallas
846,2015-06-24,465,Beverages,None,6899,WELCOME20,Houston

Sample bad-coupon rows:

,date,customer_id,product,price,quantity,coupon_code,shipping_city
368,2015-07-12,889,Baby Food,255.28,7480,None,Philadelphia
452,2014-05-19,999,Vegetables,154.06,6915,saveXX,Los Angeles
507,2010-08-12,445,Vegetables,154.06,3475,,San Jose
818,2015-02-04,888,Baby Food,255.28,8906,free ship,Dallas
929,2016-05-22,168,Personal Care,81.73,2838,holiday-15,New York

##### 7) Cleaning

In [22]:
# Cleaning — repair numerics, standardize coupons (upper/NA), normalize text, drop duplicates

import pandas as pd
import numpy as np

# Continue from the 'dirty' DataFrame I built in the grime step
df_clean = dirty.copy()

# --- 1) Price & Quantity: coerce to numeric, repair
p = pd.to_numeric(df_clean["price"], errors="coerce")
bad_price_mask = p.isna() | (p < 0)
median_price = p[~bad_price_mask].median()  # fill invalid/NaN/negative with median
df_clean["price"] = p.where(~bad_price_mask, median_price).clip(lower=0)

q = pd.to_numeric(df_clean["quantity"], errors="coerce")
df_clean["quantity"] = q.fillna(0).astype(int).clip(lower=0)

# --- 2) Coupon codes: normalize + validate (UPPER or NA) ---
cc_raw = df_clean["coupon_code"].astype("string")
cc_norm = (
    cc_raw.str.strip()
          .str.upper()
          .replace({"FREE SHIP": "FREESHIP"})   # common variant fix
)

valid_coupon_re = r"^(FREESHIP|SAVE\d+|WELCOME\d+|HOLIDAY\d+|SPRINGSALE)$"
is_valid_coupon = cc_norm.str.match(valid_coupon_re, na=False)

# Set invalid/blank to NA (per notes: "upper-case or None")
df_clean["coupon_code"] = cc_norm.where(is_valid_coupon, pd.NA)

# --- 3) Strings / text normalization ---
df_clean["shipping_city"] = df_clean["shipping_city"].astype(str).str.strip().str.title()
df_clean["product"]       = df_clean["product"].astype(str).str.strip()

# --- 4) Dates: parse safely (keep as datetime) ---
df_clean["date"] = pd.to_datetime(df_clean["date"], errors="coerce")

# --- 5) Drop exact duplicates ---
before = len(df_clean)
df_clean = df_clean.drop_duplicates()
dropped = before - len(df_clean)

# --- Summary of fixes ---
print("Clean summary:")
print(f"  Repaired prices: {int(bad_price_mask.sum())} (filled with median={median_price:.2f}, clipped >= 0)")
print(f"  Invalid/blank coupons set to NA: {int((~is_valid_coupon).sum())}")
print(f"  Duplicates dropped: {dropped}")

df_clean.head(5)

Clean summary:
  Repaired prices: 6 (filled with median=154.06, clipped >= 0)
  Invalid/blank coupons set to NA: 4
  Duplicates dropped: 0

,date,customer_id,product,price,quantity,coupon_code,shipping_city
0,2014-10-18,343,Cosmetics,437.20,8446,FREESHIP,San Jose
1,2011-11-07,377,Vegetables,154.06,3018,HOLIDAY15,Philadelphia
2,2016-10-31,431,Baby Food,255.28,1517,HOLIDAY15,San Jose
3,2010-04-10,916,Cereal,205.70,3322,FREESHIP,San Jose
4,2011-08-16,904,Fruits,9.33,9845,FREESHIP,San Antonio

##### 8) Transformation

In [23]:
import pandas as pd
from pathlib import Path

# Using the cleaned DataFrame from the previous step so that I won't mess up the original data
# where df_feat is the cleaned DataFrame
df_feat = df_clean.copy()

# Discount percentage from coupon_code
# pct looks inside each coupon_code for numbers like save10, welcome15, holiday20 etc and converts them to percentages and if there are no coupons it fills with 0.0

pct = df_feat["coupon_code"].astype("string").str.extract(r"(\d+)", expand=False).astype(float) / 100.0
df_feat["discount_pct"] = pct.fillna(0.0)

# Free shipping flag, it checks if the coupon_code is exactly "FREESHIP" and creates a boolean column, then converts it to Int8 (0 or 1)
df_feat["is_free_ship"] = df_feat["coupon_code"].eq("FREESHIP").astype("Int8")

# Calculates the revenue
# ie. multiplying price by quantity
df_feat["revenue"] = df_feat["price"] * df_feat["quantity"]

# Days since purchase
# it subtracts the last purchase date from today's date and converts the result to days

today = pd.Timestamp.today().normalize()
df_feat["days_since_purchase"] = (today - df_feat["date"]).dt.days

df_feat.head(5)

,date,customer_id,product,price,quantity,coupon_code,shipping_city,discount_pct,is_free_ship,revenue,days_since_purchase
0,2014-10-18,343,Cosmetics,437.20,8446,FREESHIP,San Jose,0.00,1,3692591.20,3999
1,2011-11-07,377,Vegetables,154.06,3018,HOLIDAY15,Philadelphia,0.15,0,464953.08,5075
2,2016-10-31,431,Baby Food,255.28,1517,HOLIDAY15,San Jose,0.15,0,387259.76,3255
3,2010-04-10,916,Cereal,205.70,3322,FREESHIP,San Jose,0.00,1,683335.40,5651
4,2011-08-16,904,Fruits,9.33,9845,FREESHIP,San Antonio,0.00,1,91853.85,5158

##### 10) Mini-aggregation (by city)

In [24]:
city_agg = (
    # Takes the cleaned dataframe, groups all tranactions by shipping_city and dropna=False means it will also include rows where shipping_city is NaN
    df_feat.groupby("shipping_city", dropna=False)
            # where .agg() computes three aggregations:
            # orders: counts unique customer_id values (number of orders)
            # total_revenue: sums up the revenue column
            # avg_price: calculates the mean of the price column
           .agg(orders=("customer_id","count"),
                total_revenue=("revenue","sum"),
                avg_price=("price","mean"))
              # sorts the resulting DataFrame by total_revenue from highest to lowest
           .sort_values("total_revenue", ascending=False)
           .reset_index()
)
city_agg.head(10)

  shipping_city  orders  total_revenue   avg_price
0   Los Angeles     107   1.644764e+08  282.417944
1       Chicago     111   1.489278e+08  265.347477
2      San Jose     105   1.476081e+08  248.930762
3  Philadelphia      97   1.382461e+08  258.797835
4        Dallas     107   1.305936e+08  243.668598
5   San Antonio      96   1.290010e+08  273.941250
6      New York     102   1.253941e+08  261.610784
7       Phoenix      99   1.243738e+08  264.059394
8       Houston      90   1.137111e+08  265.367556
9     San Diego      86   1.034299e+08  247.121628

##### 11) Serialization Checkpoint

In [ ]:
# Create output directory : data/out
OUT = Path("data/out")
OUT.mkdir(parents=True, exist_ok=True)

# Try to reuse a DataFrame already in memory; otherwise read from disk
def _load_df():
    # using in-memory 'df', 'df_feat', or 'df_clean' if present; else load from CSV
    if "df" in globals(): return df # df is 1000 sales records
    if "df_feat" in globals(): return df_feat # df_feat is feature/cleaned DataFrame
    if "df_clean" in globals(): return df_clean # df_clean is cleaned DataFrame

#  it grabs whatever dataframe is available and gives it the name 'frame'
frame = _load_df()  

# Single JSON output (records array). No cleaning or conversion.
out_path = OUT / "transactions_clean.json"

# Save to JSON with indent for readability
frame.to_json(out_path, orient="records", indent=2)

print(f"Saved JSON to: {out_path}")

Saved JSON to: data\out\transactions_clean.json

##### 12) Soft Interview Reflection	Markdown: < 120 words explaining how Functions have helped

I was able to write clean, understandable code by using functions.  I could divide things up into manageable chunks rather than writing everything down in one spot.  Each function performed a single task, allowing me to reuse it and address issues more quickly.  It also made it simpler to interpret and distribute my code.